extends common/layout

block content
    main
    section
        .slider
        .slider-headtext How Dreamshare works?
        .slider-content
            .slider-content-elem
                .slider-content-elem-step STEP 1
                .slider-content-elem-maintext Sed leo enim, condimentum
                .slider-content-elem-secondtext Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
            .slider-content-elem
                .slider-content-elem-step STEP 2
                .slider-content-elem-maintext Morbi velit risus
                .slider-content-elem-secondtext Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
            .slider-content-elem
                .slider-content-elem-step STEP 3
                .slider-content-elem-maintext Sed leo enim, condimentum
                .slider-content-elem-secondtext Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
    section
        .users
        .users-headtext Meet a partner for your best holiday
        .users-content
            .users-content-elem
                .users-content-elem-img
                .users-content-elem-name Bradley Hunter
                .users-content-elem-secondtext Based in Chicago. I love playing tennis and loud music.
            .users-content-elem
                .users-content-elem-img
                .users-content-elem-name Marie Bennett
                .users-content-elem-secondtext Currently living in Colorado. Lover of art, languages and travelling.
            .users-content-elem
                .users-content-elem-img
                .users-content-elem-name Diana Wells
                .users-content-elem-secondtext Living in Athens, Greece. I love black and white classics, chillout music and green tea.
            .users-content-elem
                .users-content-elem-img
                .users-content-elem-name Christopher Pierce
                .users-content-elem-secondtext Star Wars fanatic. I have a persistent enthusiasm to create new things.
        .users-see See other partners
    section
        .discover
        .discover-headtext Discover holiday activity ideas
        .discover-content
            .discover-content-elem Sports and Activs
            .discover-content-elem Wellness and Health
            .discover-content-elem Extreme Sports and Expeditions
            .discover-content-elem Games
            .discover-content-elem.discover-content-elem_big Culture and Education
            .discover-content-elem.discover-content-elem_big Enjomet and Relaxation
            .discover-content-elem Trevelling
        .discover-footer
            .discover-footer-headtext Crate your holiday activity
            .discover-footer-search 
            .discover-footer-search-text Hi! What are your holiday interests?
            .discover-footer-search-box
                input.discover-footer-search-box-input(type='text' placeholder='Enter your insterests')
                .discover-footer-search-box-button Search partners