footer
  .footer
    .footer-content
      .footer-content-logo  DREAMSHARE 
      .footer-content-menu
        ul
          li.footer-content-menu-first Company
          li About
          li Contact
          li Press
          li Blog
          li Term and Privacy
          li Help
      .footer-content-partners Partners
      .footer-content-designed
        | DESIGNED BY
        .footer-content-designed-img