header
  .header
    .header-menu
      .header-menu-logo DREAMSHARE
      .header-menu-nav
        .header-menu-nav-login Log in
        .header-menu-nav-signup Sign up
    .header-content
      span.header-content-maintext Share your holiday dream
      span.header-content-secondtext And find the perfect partner to fullfill it
      .header-content-button Find your holiday partner